vendor/
node_modules/
npm-debug.log
.DS_Store
*.zip

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
offer-tracker

# sbt/gradle
*target
*build
API/jvm/.gradle


# docker mount
API/jvm/docker/data

# vim
*.swp
*.swo

# intellij
*.idea
*.iml
*.ipr
